{% extends 'base/base.html' %}

{% block content %}
<div class="row">
  <div class="col">
    <h1>Создать голосование</h1>
  </div>
  <hr>
</div>
<div class="row">
  <div class="col-4 offset-4">
    <div class="card">
      <form method="POST" action="{% url 'vote_add' %}">
        {% csrf_token %}
        {% for field in form %}
        <div class="row">
          <div class="col">
          <label>{{ field.label }}</label>
          {{ field }}
          </div>
        </div>
        {% endfor %}
        <div class="row d-grid gap-2">
          <button type="submit" class="btn btn-primary">Создать</button>
        </div>
        {% if form.errors %}
        <div class="row">
          {% for error in form.errors %}
            <div class="alert alert-danger" role="alert">
              {{ error }}
            </div>
          {% endfor %}
        </div>
        {% endif %}
      </form>
    </div>
  </div>
  <hr>
</div>
{% endblock %}
