{% extends 'base/base.html' %}


{% block title %}
Vote page
{% endblock %}


{% block content %}
<div>
  <div align="center">
    <h1>{{vote.name}}</h1>
    <h4>{{vote.description}}</h4>
    <div class="text-secondary">
      <h5>Authored by: {{author}}</h5>
    </div>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    {% for variant in vote_variants %}
    <div class="row mt-3">
      <div class="col-4 offset-4">
        <div
          class="card h-100
                {% if vote_fact.id == variant.id %} bg-success{% endif %}
              "
          style="border-radius: 10px;"
        >
          <div class="card-body" align="left">
            <h5>{{variant.description}}</h5>
          </div>

        </div>
      </div>
    </div>
    {% endfor %}

    {% if view_result %}
    <div class="row mt-3">
      <div class="col-4 offset-4">
        <div class="card mb-2" style="border-radius: 15px;">
          <div class="card-header">
            Результаты голосования
          </div>
        {% for result in result_percents %}
          <div class="card-body" >
            <div align="left">
              <h6>{{result.0}}</h6>
            </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{result.1}}%;" aria-valuenow="result" aria-valuemin="0"
                 aria-valuemax="100">{{result.1}}%
            </div>
          </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}


  </div>

</div>
</div>
{% endblock %}
