{% extends 'base/base.html' %}

{% block extra_css %}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="error" fill="red" viewBox="0 0 16 16">
      <path
        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
    <symbol id="success" fill="green" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
    </symbol>
</svg>

<style>
    .new_variant_btn_collapsed {
        display: none;
    }
</style>
{% endblock %}

{% block content %}
<div align="center">
        <div class="card h-100 text-center mb-5" style="width: 50rem; margin: 20px;">
            <form>
                {% csrf_token %}

                <h1>Новое голосование</h1>
                <hr style="margin: 10px 25px">

                <div class="form-floating mb-3" style="margin: 0px 50px;">
                    <input class="form-control" type="text" placeholder="Заголовок вашего голосования..." maxlength="100" id="new_voting_title" required>
                    <label for="new_voting_title">Заголовок голосования</label>
                </div>

                <div class="form-floating mb-3" style="margin: 0px 50px;">
                    <textarea class="form-control" placeholder="Описание голосования..." maxlength="2000" id="new_voting_description" required></textarea>
                    <label for="new_voting_description">Описание голосования</label>
                </div>

                <div class="mb-5" style="margin: 0px 300px;">
                    <select class="form-select form-select-sm" id="new_vote_type">
                        <option value="discrete">Дискретный</option>
                        <option value="type_one_to_n">Один из многих</option>
                        <option value="type_m_to_n">Несколько из многих</option>
                    </select>
                </div>

                <div class="list-group" style="margin: 0px 50px;">
                    <div class="list-group-item" id="voting_variants_list">

                    </div>

                    <button type="button" class="btn btn-primary" id="add_variant_btn" style="margin: 10px; width: 10rem;">New variant</button>
                </div>

                <button type="button" id="new_vote_submit" class="btn btn-primary" style="margin: 20px 0px; width: 20rem;">Сохранить</button>
            </form>
        </div>
    </div>

    <div class="modal fade" id="votingCreationModal" tabindex="-1" role="dialog" aria-labelledby="modalHeaderLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img">
                        <use id="modalHeaderIcon"/>
                    </svg>
                    <h5 class="modal-title" id="modalHeaderLabel"></h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="modalBodyLabel"></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script>
    let newVariantButton = document.getElementById("add_variant_btn");
    let voteEditSubmitButton = document.getElementById("new_vote_submit");
    let variantsList = document.getElementById("voting_variants_list");
    let votingTypeSelect = document.getElementById("new_vote_type")

    let votingType = votingTypeSelect.value;

    newVariantButton.addEventListener("click", addNewVoteField);
    voteEditSubmitButton.addEventListener("click", submitVotingEdit);
    votingTypeSelect.addEventListener("change", typeSelectChanged);

    voteVariantsNumber = 0;

    initList();

    function typeSelectChanged(e) {
        votingType = e.target.value;

        variantsList.innerHTML = "";

        initList();
    }

    function initList() {
        voteVariantsNumber = 0;
        if (votingType == "discrete") {
            newVariantButton.classList.add("new_variant_btn_collapsed");
        }
        else {
            newVariantButton.classList.remove("new_variant_btn_collapsed");
        }

        for (let i = 0; i < 2; i++) {
            let voteVariant = document.createElement('div');
            voteVariant.classList.add("card");
            voteVariant.classList.add("h-100");
            voteVariant.classList.add("border-primary");
            voteVariant.style = "margin: 5px;";

            let voteVariantContainer = document.createElement('div');
            voteVariantContainer.classList.add("container");

            let defVoteVariant = document.createElement('div');
            defVoteVariant.classList.add("row");
            defVoteVariant.classList.add("align-items-center");

            let variantDescriptionContainer = document.createElement("div");
            variantDescriptionContainer.classList.add("col-lg-10");
            variantDescriptionContainer.classList.add("form-floating");
            variantDescriptionContainer.classList.add("mb-3");
            variantDescriptionContainer.style = "margin: 10px;";

            let variantDescriptionInput = document.createElement('textarea');
            variantDescriptionInput.classList.add("form-control");
            variantDescriptionInput.id = "new_vote_variant_" + i;
            variantDescriptionInput.placeholder = "Описание варианта голосования...";

            let variantDescriptionLabel = document.createElement('label');
            variantDescriptionLabel.htmlFor = "new_vote_variant_" + i;
            variantDescriptionLabel.innerHTML = "Описание варианта голосования";

            variantDescriptionContainer.appendChild(variantDescriptionInput);
            variantDescriptionContainer.appendChild(variantDescriptionLabel);

            defVoteVariant.appendChild(variantDescriptionContainer);

            voteVariantContainer.appendChild(defVoteVariant);

            voteVariant.appendChild(voteVariantContainer)

            variantsList.appendChild(voteVariant);

            voteVariantsNumber++;
        }
    }

    function addNewVoteField() {
        if (votingType == "discrete") {
            return;
        }

        let voteVariant = document.createElement('div');
        voteVariant.classList.add("card");
        voteVariant.classList.add("h-100");
        voteVariant.classList.add("border-primary");
        voteVariant.style = "margin: 5px;";

        let voteVariantContainer = document.createElement('div');
        voteVariantContainer.classList.add("container");

        let defVoteVariant = document.createElement('div');
        defVoteVariant.classList.add("row");
        defVoteVariant.classList.add("align-items-center");

        let variantDescriptionContainer = document.createElement("div");
        variantDescriptionContainer.classList.add("col-lg-10");
        variantDescriptionContainer.classList.add("form-floating");
        variantDescriptionContainer.classList.add("mb-3");
        variantDescriptionContainer.style = "margin: 10px;";

        let variantDescriptionInput = document.createElement('textarea');
        variantDescriptionInput.classList.add("form-control");
        variantDescriptionInput.id = "new_vote_variant_" + voteVariantsNumber;
        variantDescriptionInput.placeholder = "Описание варианта голосования...";

        let variantDescriptionLabel = document.createElement('label');
        variantDescriptionLabel.htmlFor = "new_vote_variant_" + voteVariantsNumber;
        variantDescriptionLabel.innerHTML = "Описание варианта голосования";

        let removeBtnContainer = document.createElement("div");
        removeBtnContainer.classList.add("col-lg-1");
        removeBtnContainer.classList.add("align-items-center");

        let removeVoteVariantBtn = document.createElement('button');
        removeVoteVariantBtn.type = "button";
        removeVoteVariantBtn.classList.add("btn-close");
        removeVoteVariantBtn.ariaLabel = "Remove";

        removeBtnContainer.appendChild(removeVoteVariantBtn);
        removeVoteVariantBtn.addEventListener("click", removeVoteField);

        variantDescriptionContainer.appendChild(variantDescriptionInput);
        variantDescriptionContainer.appendChild(variantDescriptionLabel);

        defVoteVariant.appendChild(variantDescriptionContainer);
        defVoteVariant.appendChild(removeVoteVariantBtn);

        voteVariantContainer.appendChild(defVoteVariant);

        voteVariant.appendChild(voteVariantContainer)

        variantsList.appendChild(voteVariant);

        voteVariantsNumber++;
    }

    function removeVoteField(e) {
        let elem = e.target.parentNode;
        while (true) {
            if (elem.classList.contains("card")) break;

            elem = elem.parentNode;
        }

        elem.parentNode.removeChild(elem);
        voteVariantsNumber--;
    }

    function submitVotingEdit() {
        let votingTitleInput = document.getElementById("new_voting_title");
        let votingDescriptionInput = document.getElementById("new_voting_description");

        if (votingTitleInput.value == "") {
            votingTitleInput.classList.add("alert-danger");
            return;
        }
        votingTitleInput.classList.remove("alert-danger");

        if (votingDescriptionInput.value == "") {
            votingDescriptionInput.classList.add("alert-danger");
            return;
        }
        votingDescriptionInput.classList.remove("alert-danger");

        let array = []

        for (let i = 0; i < variantsList.children.length; i++) {
            let newVariantInput = document.getElementById("new_vote_variant_" + i);

            if (newVariantInput.value == "") {
                newVariantInput.classList.add("alert-danger");
                array = [];
                return;
            }
            newVariantInput.classList.remove("alert-danger");

            array.push(newVariantInput.value);
        }

        let xhr = new XMLHttpRequest();
        xhr.open("post", "/vote/add/", true);

        xhr.setRequestHeader("x-csrf-token", getPageCSRFToken());
        xhr.setRequestHeader("X-CSRFToken", getPageCSRFToken());

        let votingCreationData = {
            title: votingTitleInput.value,
            description: votingDescriptionInput.value,
            type: votingType,
            vote_variants: array
        };

        xhr.addEventListener("readystatechange", () => {
            if (xhr.readyState == 4) {
                if (xhr.status == 200) {
                    let creationResponseData = JSON.parse(xhr.response);

                    if (creationResponseData.status == "ok") {
                        setTimeout(() => { window.location.replace("../" + creationResponseData.params.voting_id); }, 3000);
                        showModal(1, "Голосование создано!\n Вы будете перенаправлены на него через 3 секунды...");
                    }
                    else {
                        showModal(0, creationResponseData.description);
                    }
                }
                else {
                    showModal(0, "Server error! Report and try again later.");
                }
            }
        });

        xhr.send(JSON.stringify(votingCreationData));
    }

    function getPageCSRFToken() {
        return document.querySelector('[name=csrfmiddlewaretoken]').value;
    }

    function showModal(type, description) {
        let modalHeaderIcon = document.getElementById("modalHeaderIcon");
        let modalHeaderLabel = document.getElementById("modalHeaderLabel");
        let modalBodyLabel = document.getElementById("modalBodyLabel");

        if (type == 0) {
            modalHeaderIcon.setAttributeNS("http://www.w3.org/1999/xlink", "href", "#error");
            modalHeaderLabel.innerHTML = "Error!";
        }
        else {
            modalHeaderIcon.setAttributeNS("http://www.w3.org/1999/xlink", "href", "#success");
            modalHeaderLabel.innerHTML = "Success!";
        }

        modalBodyLabel.innerHTML = description;

        $("#votingCreationModal").modal("show");
    }
</script>
{% endblock %}
