<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vote page</title>
</head>
<body>
  <li><a href="{% url 'index'%}"> Главная </a> <a href="{% url 'time'%}"> Текущее время </a></li>
  <hr>
  <h1>What number do u like?</h1>
  <hr>
  <li><font size = "10"<b>0</b></font></li>
  <li><font size = "10"<b>1</b></font></li>

</body>
</html>
